# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "9f26293cef94b7b91e912fa60c71bc8c"
name = "app-ak"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

[[webhooks.subscriptions]]
topics = [ "app/uninstalled" ]
uri = "/webhooks/app/uninstalled"

[[webhooks.subscriptions]]
topics = [ "app/scopes_update" ]
uri = "/webhooks/app/scopes_update"

[[webhooks.subscriptions]]
topics = ["orders/create"]
uri = "/orders"

[[webhooks.subscriptions]]
topics = [ "inventory_levels/update" ]
uri = "/inventory"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products, write_products, read_orders, write_orders, write_order_edits, read_inventory"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
